body{
	height: auto;
}

a{
    padding: 5px;
}

h1{
	color:#0000FF;
}

h2{
	color:#FF0000;
}


/*
agregaremos algunos estilos para header y footer en main*/
/*todo header*/

.headerNavbar{
	padding:10px;
}