<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Integrador Taller Web I</title>

    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>
</head>
<body>
<!--Agregamos el header con th-->
<div th:replace="header :: header"></div>
<main role="main" class="container">
    <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div id="form-inicial" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="card shadow mt-4 mb-4">
                <div class="card-body">
                    <h1>Cuestionario inicio de Proyecto:</h1>
                        <!-- Formulario para crear un nuevo proyecto -->
                        <div>
                            <form th:action="@{/guardarRespuesta}" method="post" th:object="${datosProyecto}">
                                <!-- Campos del formulario para el nuevo proyecto -->
                                <div class="row">
                                    <!-- Lado izquierdo: Formulario -->
                                    <div class="col-md-6">
                                    <h2>Formulario proyecto:</h2>
                                        <h3>Tipo de proyecto</h3>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="piso" th:value="piso" name="tipo_proyecto">
                                            <label class="form-check-label" for="piso">Pisos</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="pared" th:value="pared" name="tipo_proyecto">
                                            <label class="form-check-label" for="pared">Pared</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" id="habitacion" th:value="habitacion" name="tipo_proyecto">
                                            <label class="form-check-label" for="habitacion">Habitación</label>
                                        </div>

                                        <br>
                                        <div>
                                            <h3>Dimensiones</h3>
                                            <div class="form-group">
                                                <label for="altura">Altura</label>
                                                <input type="text" name="altura" id="altura" class="form-control" th:field="*{altura}">
                                            </div>
                                            <div class="form-group">
                                                <label for="ancho">Ancho</label>
                                                <input type="text" name="ancho" id="ancho" class="form-control" th:field="*{ancho}">
                                            </div>
                                            <div class="form-group">
                                                <label for="largo">Largo</label>
                                                <input type="text" name="largo" id="largo" class="form-control" th:field="*{largo}">
                                            </div>
                                        </div>
                                        <br>
                                        <button type="submit">Enviar</button>
                                    </div>

                                    <div id="respuesta"  class="col-md-6">
                                        <div id="detallesProyecto">
                                            <p class="font-weight-bold h4">Destalles del Proyecto</p>
                                            <p th:text="${respuesta}"></p>
                                        </div>
                                        <div id="listaMateriales">
                                            <p class="font-weight-bold h4">Materiales</p>
                                            <p>Lista</p>
                                        </div>
                                        <div id="botones">
                                        <a th:href="@{'cuestionario'}" class="btn btn-secondary">Volver</a>
                                        <a href="projectManager" class="btn btn-primary">Confirmar</a>
                                        </div>
                                    </div>
                            </div>
                            </form>
                        </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!--<script>
    var preguntaActual = 0;

    function siguientePregunta() {
        var preguntas = document.querySelectorAll('.pregunta');
        if (preguntaActual < preguntas.length - 1) {
            preguntas[preguntaActual].style.display = 'none';
            preguntaActual++;
            preguntas[preguntaActual].style.display = 'block';
            if (preguntaActual === preguntas.length - 1) {
                document.querySelector('button[type="button"]').style.display = 'none';
                document.querySelector('button[type="submit"]').style.display = 'block';
            }
        }
    }
</script>-->
<!-- Boostrap core js -->

<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function() {
        const formulario = document.querySelector("form");
        const detallesProyecto = document.getElementById("detallesProyecto");
        const listaMateriales = document.getElementById("listaMateriales");
        const botones = document.getElementById("botones");

        // Oculta los elementos al cargar la página
        detallesProyecto.style.display = "none";
        listaMateriales.style.display = "none";
        botones.style.display = "none";

        formulario.addEventListener("submit", function(event) {
            event.preventDefault(); // Evita el envío del formulario

            // Recupera los valores de los campos del formulario
            const tipoProyecto = document.querySelector('input[name="tipo_proyecto"]:checked').value;
            const altura = document.getElementById("altura").value;
            const ancho = document.getElementById("ancho").value;
            const largo = document.getElementById("largo").value;

            // Actualiza el div de detalles del proyecto
            detallesProyecto.textContent = `Tipo de Proyecto: ${tipoProyecto}, Altura: ${altura}, Ancho: ${ancho}, Largo: ${largo}`;

            // Muestra los elementos después de enviar el formulario
            detallesProyecto.style.display = "block";
            listaMateriales.style.display = "block";
            botones.style.display = "block";

        });
    });
</script>
</body>
</html>

