<!DOCTYPE HTML>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Taller Web I</title>

  <!-- Boostrap core css -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.0/css/bootstrap.min.css}"/>

  <!-- custom style -->
  <link rel="stylesheet" th:href="@{/css/main.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Logo</a>
  <div class="navbar-collapse justify-content-end">
    <a class="navbar-brand" href="login.html">Ingresar</a>
    <a class="navbar-brand" href="nuevo-usuario.html">Registrarse</a>
  </div>
</nav>

<main role="main" class="container">
  <div class = "container">
    <h1>Bienvenidos a Arquitecto Web</h1>

    <p>
      Arquitecto Web es una innovadora aplicación diseñada para simplificar el proceso de planificación y presupuesto en proyectos de construcción. Con Arquitecto Web, los usuarios pueden obtener un presupuesto final de manera rápida y precisa para sus proyectos, ya sea la construcción de una casa, una renovación o cualquier proyecto arquitectónico. Nuestra aplicación guía a los usuarios a través de una serie de preguntas detalladas, para proporcionar una estimación completa de los materiales necesarios y los profesionales requeridos. ¡Simplifica tu proceso de planificación y presupuesto con Arquitecto Web y transforma tus ideas en realidad!
    </p>
  </div>
</main>
<!-- /.container -->

<!-- Boostrap core js -->
<script type="text/javascript" th:src="@{webjars/bootstrap/5.2.0/js/bootstrap.min.js}"></script>
</body>
</html>