<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Boostrap core css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/main.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/projectManager.css}"/>
</head>
<body>
<!--Agregamos el header con th-->
<div th:replace="header :: header"></div>

<h1>Proyecto <span th:text="${proyecto.nombreProyecto}" ></span></h1>
<div class="container" th:with="previousEtapa=null">

    <ul class="project-links">
        <li th:each="actividadProyecto: ${actividadesProyecto}">
            <h3 th:text="${actividadProyecto.idActividad + ' - ' +actividadProyecto.actividad}"></h3>
        </li>

    </ul>
</div>

<script th:src="@{js/projectManager.js}"></script>
</body>
</html>

